@model List<NorthWindApp.Models.ViewModels.BreadCrumbViewModel>
@{
}

@if (Model != null)
{
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white justify-content-center justify-content-md-start justify-content-lg-start justify-content-xl-start">
        @foreach (var breadcrumb in Model)
            {
                if (breadcrumb.Active)
                {
                     <li class="breadcrumb-item active">
                        <a asp-action="@breadcrumb.Action" asp-controller="@breadcrumb.Controller">@breadcrumb.Text</a>
                     </li>
                }
                else
                {
                    <li class="breadcrumb-item" aria-current="page">@breadcrumb.Text</li>
                }
            }
    </ol>
</nav>
}